.organic-tomato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $quick-silver;
    padding-top: 80px;
    color: $snow;
    img{
        width: 75%;
    }
    h2{
        padding-top: 20px;
        font-size: 2.5rem;
    }
    .text1{
        @include text-main;
    }
}

.limache-tomato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $snow;
    padding-top: 80px;
    color: $granite-gray;
    img{
        width: 75%;
        
    }

    h2{
        padding-top: 20px;
        font-size: 2.5rem;
    }
    .text1{
        @include text-main;
    }
}

.about-us{
    @include sectionred;

}

.javiera{
    @include aboutus;
    padding-top: 80px;
    .text2{
        @include text-main
    }
}

.roberto{
    @include aboutus;
    padding-top: 20px;
    .text2{
        @include text-main
    }
}

.function-tomato{
    @include sectionred;
    h2{
        padding-bottom: 20px;
    }
}